h1{
    font-size: 10rem;
}

i.bi.bi-cart {
    background: red;
    border-radius: 3rem;
    color: white;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: -7px;
  }